html, 
body {
  background-color: #374243 ;
  padding-top: 5px;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column; 
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow: hidden; 
}


h1 {
  color: red;
  margin-right: 40px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

canvas {
  display: block;
}


.topnav {
  position: fixed;   
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;

  
  background-color: black;
  display: flex;      
  align-items: center;
  overflow: hidden;

  z-index: 1000;      

  box-shadow: 0 2px 10px rgba(0,0,0,0.5); 
}

.account-btn {
  margin-left: auto;
  margin-right: 10%;

}

.topnav img {
  height: 60px;
  width: auto; 
  padding-left: 20px;
}

.game-grid {
  align-items: center;
  display: grid;
  flex: 1; 
  
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(2, 1fr);
  margin-top: 120px;

  gap: 20px;
  padding: 20px;
}

.game-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 600px;

  background: #111;
  border: 2px solid #222;
  border-radius: 80px;
  border-radius: 2vw;

  text-decoration: none;
  color: white;

  transition: 0.25s;

  font-size: 1.2rem;
  height: 100%;
  width: 100%; 
}


.game-card:hover {
  border-color: gold;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.4);
}

.Bus:hover {
  background-image: url("Assets/logo.png");
  background-size: cover;
  background-position: center;
}

.Blackjack:hover {
  background-image: url("Assets/logo.png");
  background-size: cover;
  background-position: center;
}

.Plinko:hover {
  background-image: url("Assets/pinkotemporarylolherman.png");
  background-size: cover;
  background-position: center;
}

.Slotts:hover {
  background-image: url("Assets/pinkotemporarylolherman.png");
  background-size: cover;
  background-position: center;
}

.Mines:hover {
  background-image: url("Assets/pinkotemporarylolherman.png");
  background-size: cover;
  background-position: center;
}

.Roulette:hover {
  background-image: url("Assets/pinkotemporarylolherman.png");
  background-size: cover;
  background-position: center;
}





.game-card h2 {
  margin: 0;
  color: gold;
  font-size: (20rem)

}


.popup {
  display: none;  

  width: 900px;
  height: 600px;
  background: orangered;
  border-radius: 6px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 30px;
  color: black;
}

.popup h2{
  font-size: 4rem;
  color: orange;
}

.popup p{
  font-size: medium;
  color: rgb(13, 60, 148);
}

.popup button{
  width: auto;
}